<div ng-show="showFileInfo">
    <div><span>{{currentFile.artist}}</span> - <span>{{currentFile.title}}</span></div>
    <div><small>{{currentFile.album}}</small><small> ({{currentFile.year}})</small></div>
</div>

<audio autoplay controls ng-src="{{currentFile.url | trustedUrl}}" cp-bind="ended" cp-bind-handler="next()">
    Your browser doesn't support the <em>audio</em> element
</audio>

<div>
    <button type="button" ng-click="next()" ng-disabled="!canPlay">Next</button>
    <button type="button" cp-confirm-click="deleteCurrent()" ng-disabled="!canDelete">Delete</button>
</div>